body{
    background:lightblue;
    margin: 0%;
}
#start{
    background: white;
    margin: 0%;
    padding:30px;
}
#start > img{
    margin-left: 450px;
    width: 75px;
}
#start > h1{
    margin-right: 650px;
    margin-bottom: 2px;
    float: right;
    font-size: 60px;
    font-family: 'Clicker Script', cursive;
}

#start > h2{
    margin-top: 0%;
    font-size: 25px;
    margin-left: 650px;
    font-family: 'Playfair Display', serif;
}

#navigation{
    position: sticky;
    background:black;
}
#navigation a{
    color:white;
    text-decoration: none;
    font-size: 20px;
top:0;
margin-right:20px;
}

#navigation > ul {
list-style: none; 
margin: 0; 
padding: 3px;  
padding-left: 0px;
display: flex;
justify-content: space-around;
top:0;
font-family: 'Lobster', cursive;
}

body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn { 
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn { 
      width: 100%;
      padding: 0;
    }
  }
  
#footer{
    background: black;
    padding:5%
}

#footer > ol {
    list-style: none; 
    margin: 0;   
    padding-left: 0px;
    padding-bottom: 16px;
    top:0;
    font-family: 'Lobster', cursive;
    display: flex;
    text-align: center;
    justify-content: center;
    }
#footer a{
    color:white;
    text-decoration: none;
    font-size: 15px;
    top:0;
    font-family: serif;
}
#footer > p{
    text-align: center;
    justify-content: center;
}



.fa-instagram:before {
    font-size: 20px;
    margin-left: 15px;
    color: white;
}

.fa-facebook:before{
    font-size: 20px;
    margin-left: 15px;
    color: white;
}

.fa-pinterest-square{
    font-size: 20px;
    margin-left: 15px;
    color: white;
}
.fa-shopping-bag:before{
    font-size: 25px;
    color:white;
}
